<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/animation.css">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- shadow-people -->
    <div class="mt-3 px-6 grid grid-cols-[auto_1fr] gap-6 border-solid border border-black rounded text-black">
        <!-- IMAGEM -->
        <div class="mb-6 mt-5 h-90 w-[250px] lg:w-[450px] rounded">
            <img src="../assets/pictures/HatMan.png" alt="" class="h-full w-full object-cover border-2 border-solid border-black rounded">
        </div>
        <!-- CONTEÚDO -->
        <div class="flex flex-col justify-start">
            <!-- TÍTULO -->
            <h2 class="text-black font-extrabold underline text-4xl mt-5 mb-3 p-2">
                O Homem de Chapéu
            </h2>
        
            <!-- TEXTO -->
            <p class="text-lg font-normal font-serif mb-2">
                Ele surge na escuridão, alto, imóvel, vestindo um longo casaco e um chapéu de abas largas.  
                Seu rosto, se é que tem um, se esconde na sombra. Apenas observa.  
            </p>
            <p class="text-lg font-normal font-serif mt-2 mb-2">
                Alguns dizem que ele é um presságio. Outros, que ele se alimenta do medo.  
                Mas uma coisa é certa: uma vez que você o vê, nunca mais esquece a sua presença.  
            </p>
            <p class="text-lg font-semibold font-serif text-rose-950 mt-2 ">
                Nunca encare por muito tempo!!!
            </p>
            <p class="text-lg font-bold font-serif text-rose-950 mt-3 ">
                Pois o Homem de Chapéu pode estar esperando a sua próxima noite.
            </p>
        </div>
    </div>

</body>
</html>