<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="my-10 w-full">
        <hr class="border-t-2 border-black mx-3">
        <h1 class="text-4xl text-black font-bold ml-4">Será tudo mentira?</h1>
        <p class="text-black mx-9 mt-3 text-xl font-serif italic ">Não é à toa que você está aqui. Algo dentro de você busca o desconhecido, o inexplicável. Seria apenas curiosidade... ou um instinto primal te alertando sobre algo que não deveria ser ignorado?
            A mente humana não cria histórias do nada. Toda lenda tem um começo, toda sombra no escuro já fez alguém perder o sono. Mas e se tudo isso for mais do que apenas histórias? E se a verdade estiver escondida entre os sussurros da noite, esperando que você preste atenção?
            Dizem que o medo é irracional, mas ele nunca vem sem motivo. Você sente quando está sendo observado, mesmo sem ver ninguém. Você ouve passos onde não deveria haver nada. Você fecha os olhos e, por um instante, tem certeza de que não está sozinho.
            Então eu te pergunto: e se não for apenas imaginação?</p>
            <p class="text-black mx-9 text-xl font-serif italic mt-2 mb-10">Dark Mystery não está aqui para mudar sua opinião. Se quiser acreditar que tudo é mentira, assim será. Mas, se for só um pouco diferente... se dentro de você houver uma dúvida, por menor que seja... então fique.

                Aqui, você encontrará os mistérios mais perturbadores, as histórias mais intrigantes e os relatos que muitos preferem esquecer. Leia, questione, duvide. Mas lembre-se: algumas portas, uma vez abertas, nunca mais se fecham.
                
                Então, pronto para continuar?</p>

                
                
            </div>

</body>
</html>

<script src="../script/script.js"></script>
<script>
    sendIntro()
</script>