<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="border-2 border-black mx-8 pb-8 mt-7">
        <h1 class="text-black font-bold text-4xl text-center mt-2">Sumario</h1> 
        <div class="grid grid-cols-2 gap-2 mx-[110px] mt-3 items-stretch">
            <div class="text-center flex flex-col">
                <!-- Criaturas -->
                <h1 class="text-black text-3xl  text-left ml-[150px] inline-block mb-3">1.Criaturas
                    <span class="block text-2xl ml-[15px]">1.1-Criaturas Amaldicoadas</span>
                    <span class="block text-2xl ml-[15px]">1.2-Entidades</span>
                    <span class="block text-2xl ml-[15px]">1.3-Criaturas profana</span>
                    <span class="block text-2xl ml-[15px]">1.4-Espiritos e assombrações</span>
                    <span class="block text-2xl ml-[15px]">1.5-Criaturas metamórficas</span>
                    <span class="block text-2xl ml-[15px]">1.6-Anomalias</span>
                </h1>
                <h1 class="text-black text-3xl  text-left ml-[150px] inline-block mb-3">2.Locais inexplicáveis
                    <span class="block text-2xl ml-[15px]">2.1-Locais assombrados</span>
                    <span class="block text-2xl ml-[15px]">2.2-Dimensões paralelas</span>
                    <span class="block text-2xl ml-[15px]">2.3-Zonas anômalas</span>
                    <span class="block text-2xl ml-[15px]">2.4-Lugares Perdidos/Proibidos</span>
                    <span class="block text-2xl ml-[15px]">2.5-Lugares amaldiçoados</span>
                </h1>
            </div>
            <div class="text-center flex flex-col">
                <h1 class="text-black text-3xl  text-left ml-[50px] inline-block mb-3">3.Maldições e superstições
                    <span class="block text-2xl ml-[15px]">3.1-Sons e Chamados</span>
                    <span class="block text-2xl ml-[15px]">3.2-Mals Presságioss</span>
                    <span class="block text-2xl ml-[15px]">3.3-Maldições</span>
                    <span class="block text-2xl ml-[15px]">3.4-Rituais</span>
                </h1>
            </div>
    
        </div>
    
    </div>
</body>
</html>

<script src="../script/script.js"></script>
<script>
    sendSummary()
</script>
