<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/animation.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    <div class="mt-3 px-6 grid grid-cols-[auto_1fr] gap-6 border-solid border border-black rounded text-black">
        <!-- IMAGEM -->
        <div class="mb-6 mt-5 h-90 w-[250px] lg:w-[450px] rounded">
            <img src="../assets/pictures/LaDiabrete.png" alt="" class="h-full w-full object-cover border-2 border-solid border-black rounded">
        </div>
    
        <!-- CONTEÚDO -->
        <div class="flex flex-col justify-start">
            <!-- TÍTULO -->
            <h2 class="text-black font-extrabold underline text-4xl mt-5 mb-3 p-2">
                La Diablesse
            </h2>
        
            <!-- TEXTO -->
            <p class="text-lg font-normal font-serif mb-2">
                Dizem que, nas noites silenciosas do Caribe, uma mulher de vestido longo 
                e chapéu de abas largas caminha sozinha pelas estradas. Sua beleza é hipnotizante,  
                seu perfume é doce, mas aquele que a segue jamais retorna.
            </p>
            <p class="text-lg font-normal font-serif mt-2 mb-2">
                Sob as dobras do tecido, esconde-se um segredo profano: uma perna não é humana,  
                mas um casco de fera. Ela conduz suas vítimas pelo desconhecido até que se percam,  
                vagando sem rumo pela eternidade.
            </p>
            <p class="text-lg font-semibold font-serif text-rose-950 mt-2 ">
                Nunca siga uma mulher que esconde o rosto!!!
            </p>
            <p class="text-lg font-bold font-serif text-rose-950 mt-3 ">
                Pois La Diablesse leva os homens à perdição.
            </p>
        </div>
    </div>
</body>
</html>